affine==2.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
app-model==0.2.7
appdirs==1.4.4
appnope==0.1.4
asciitree==0.3.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
backoff==2.2.1
backports.tarfile==1.2.0
build==1.2.1
cachetools==5.3.3
cachey==0.2.1
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
comm==0.2.2
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dask==2024.6.0
debugpy==1.8.1
decorator==5.1.1
docstring_parser==0.16
docutils==0.21.2
emcee==3.1.6
exceptiongroup==1.2.1
executing==2.0.1
fasteners==0.19
ffmpeg==1.4
filelock==3.15.1
fonttools==4.53.0
freetype-py==2.4.0
frozenlist==1.4.1
fsspec==2023.1.0
gcloud-aio-auth==5.3.2
gcloud-aio-storage==9.3.0
gcsfs==2023.1.0
google-api-core==2.19.0
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-pubsub==2.21.3
google-cloud-secret-manager==2.20.0
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
grpc-google-iam-v1==0.13.0
grpcio==1.64.1
grpcio-status==1.62.2
gstools==1.5.2
hankel==1.2.2
HeapDict==1.0.1
hsluv==5.0.4
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
imagesize==1.4.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
in-n-out==0.2.1
ipykernel==6.29.4
ipython==8.18.1
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keyring==25.2.1
keyrings.google-artifactregistry-auth==1.1.2
kiwisolver==1.4.5
lazy_loader==0.4
line-profiler-pycharm==1.1.0
line_profiler==4.1.3
locket==1.0.0
magicgui==0.8.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
meshio==5.3.5
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.0.5
napari==0.4.19
napari-animation==0.0.8
napari-console==0.0.9
napari-plugin-engine==0.2.0
napari-svg==0.1.10
nest-asyncio==1.6.0
networkx==3.2.1
npe2==0.7.5
numcodecs==0.12.1
numpy==1.26.4
numpydoc==1.7.0
oauthlib==3.2.2
opencv-python-headless==4.10.0.82
packaging==24.1
pandas==1.5.0
parso==0.8.4
partd==1.4.2
pexpect==4.9.0
pika==1.3.2
pillow==10.3.0
Pint==0.23
platformdirs==4.2.2
pluggy==1.5.0
pooch==1.8.2
POT==0.9.3
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
psycopg2-binary==2.9.9
psygnal==0.11.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyconify==0.1.6
pycparser==2.22
pydantic==1.10.2
pydantic-compat==0.1.2
pyevtk==1.6.0
Pygments==2.18.0
PyJWT==2.8.0
PyOpenGL==3.1.7
pyparsing==3.1.2
pyproject_hooks==1.1.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5_sip==12.13.0
PySide2==5.15.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
rasterio==1.3.10
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
scikit-image==0.22.0
scipy==1.13.1
shapely==2.0.4
shellingham==1.5.4
shiboken2==5.15.2.1
six==1.16.0
snowballstemmer==2.2.0
snuggs==1.4.7
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
superqt==0.6.7
sympy==1.12.1
tabulate==0.9.0
tifffile==2024.5.22
tomli==2.0.1
tomli_w==1.0.0
toolz==0.12.1
torch==2.2.2
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typer==0.12.3
typing_extensions==4.5.0
urllib3==2.2.2
vispy==0.14.3
wcwidth==0.2.13
wrapt==1.16.0
yarl==1.9.4
zarr==2.18.2
zipp==3.19.2